.todo-response {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post-item {
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
}

.dark-container {
  background-color: black;
  color: white;
}

.light-container {
  background-color: white;
  color: black;
}
