@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

@layer components {
  .section-heading {
    @apply text-3xl font-semibold mb-5;
  }

  .section-description {
    @apply text-sm max-w-96;
  }
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(95 111 255 / var(--tw-bg-opacity));
}
